body{
    background-image: url("images/weather_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:whitesmoke
}
.weather-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);   
    width: 100%;
    max-width: 500px; 
    text-align: center;
}
.weather-header{
    text-align: center;
    margin-bottom: 2rem;
    color: steelblue;
}
.weather-info {
    
    margin-bottom: 2rem;
}
.weather-item i{
    width:  25px;
    color: aliceblue;
    margin-right: 10px;
}
.form-control {
    background-color: white;
    color: aliceblue
}
.form-control:focus{
    background-color: aliceblue;
    border-color: steelblue;
    color: steelblue
}
.button{
    text-align: center;
}
.btn{
    background-color: steelblue;
    color: aliceblue;
    border-color: aliceblue;
    border: 1px;
}
.btn:hover{
    background-color: aliceblue;
    color: steelblue;
}

.alert-danger{
    text-align: center;
    background-color: rgb(77, 9, 4);
    border-color: rgb(204, 101, 94);
    color: rgb(204, 101, 94);
    border: 1px;
}